<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shuwei.dai.chiyouplusadminserver.mapper.ProjectMapper">

    <resultMap id="BaseResultMap" type="com.shuwei.dai.admin.entity.Project">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="projectCode" column="project_code" jdbcType="VARCHAR"/>
        <result property="projectName" column="project_name" jdbcType="VARCHAR"/>
        <result property="description" column="description" jdbcType="VARCHAR"/>
        <result property="remark" column="remark" jdbcType="VARCHAR"/>
        <result property="gmtCreate" column="gmt_create" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,project_code,project_name,
        description,remark,gmt_create
    </sql>
</mapper>
